
@import "mixin&extend";

.formulario{
    
    padding: 80px 12%  2rem 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__entrada{
        width: 50%;
    }

    &__input{
        border: 1px solid red;

        @include tamanio(40px, 80%);

        padding-left: 5%;
        background-color: rgba(202, 201, 201, 0.212);
    }

    &__textArea{
        padding-top: 5px;
        padding-left: 5%;
        border: 1px solid gray;
        border-radius: 5px;

        @include tamanio(120px, 80%);
    }

    &__botonLink{
        @extend .botonLink;
        align-items: center;

    }

}

@media (max-width: 992px) {                   /*          MEDIA                */
    .formulario{
        flex-direction: column;
        justify-content: center;

        &__entrada, &__enviar{
            width: 352px;
            align-self: center;
        }
    
        &__input{

            @include tamanio(40px, 352px);
            /*background-color: rgba(202, 201, 201, 0.212);*/
        }
    
        &__textArea{
            @include tamanio(120px, 352px);
        }

        &__botonLink{
            color: black;
        }
    }
}