
.galeria{
    display: flex;

    &__columna{
        display: flex;
        flex-direction: column;
        width: 25vw;
    }

    &__imgAncha{
        width: 100%;
        height: 19.2vw;
        padding: 2.5px;
        overflow: hidden;

    }

    &__imgLarga{
        width: 100%;
        height: 32.5vw;
        padding: 2.5px;
        overflow: hidden;

    }
}